* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary-color: #f80;
  --secondary-color: #000498;
  --dark-primary-color: #e07800;
  --dark-secondary-color: #00315f;
  --light-color: #e9e9e9;
  --dark-color: #2c2c2c;
}

body{
  font-family: "Arial";
  color: var(--dark-color);
}

a{
  text-decoration: none;
  color: unset;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Nav */

.nav {
  background-color: #fff;
  padding: 1rem;
  position: sticky;
  top:0;
  left: 0;
  box-shadow: 10px 0px 10px #ebebeb;
  z-index: 1;
}

.nav .inner-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin-inline: auto;
}

.logo {
  color: var(--dark-color);
}

.logo span {
  color: var(--primary-color);
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.navs-icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navs-icon-container svg{
  height: 1.5rem;
}

.navs-icon-container .shopping-cart {
  position: relative;
}

.navs-icon-container .shopping-cart .products-count{
  content: "";
  position: absolute;
  background-color: #f00;
  width: 1rem;
  height: 1rem;
  bottom: -8px;
  left: -8px;
  border-radius: 50%;
  color: #fff;
  padding: 0.7rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-container{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-bottom: 1px solid var(--dark-color);
  padding: 0.5rem;
  margin-right: 1rem;
}

.search-input-container input {
  border: none;
  outline: none;
}

.search-input-container svg{
  height: 1rem;
  color: #808080;
}

nav ul li:hover{
  transform: translateY(-4px);
  transition: all 0.2s;
  font-weight: bold;
}

.menu-button {
  display: none;
}

/* END NAVBAR*/

/* START HEADER*/
header {
  background-color: var(--primary-color);
}

header .inner-content {
  max-width: 1600px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Ajusta para duas colunas de igual largura */
  align-items: center;
  padding: 4rem;
  gap: 4rem;
  color: #fff;
}

header .left-side {
  color: #fff;
}

header .left-side h2 {
  font-size: 2.5rem;
}

header .left-side p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.see-more-btn {
  background-color: var(--dark-primary-color);
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.2s;
  display: flex;
  max-width: 130px;
  justify-content: space-between;
  align-items: center;
}

.see-more-btn:hover {
  background-color: var(--dark-primary-color);
  max-width: 200px;
}

header .right-side img {
  width: 100%; 
  height: auto; 
}

/* END HEADER*/

/* MEDIA: NAV E HEADER*/
@media (max-width: 920px){
  .nav h1 {
    font-size: 1.5rem;
  }
  header .inner-content {
    gap: 2rem;
    padding: 1.5rem;
    padding-top: 3rem;
  }
  header .left-side h2 {
    font-size: 1.8rem;
  }
  nav {
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding-bottom: 1rem;
  }

  nav.show {
    display: block;
  }

  nav ul{
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
    padding: 0.8rem;
  }

  .menu-button{
    display: inline;
  }
}

@media (max-width: 780px) {
  header .inner-content{
    grid-template-columns: 1fr;
  }
}

@media (max-width:580px) {
  .search-input-container {
    display: none;
  }
}
